@-webkit-keyframes possible-move {
	0% {
		-webkit-transform: scale(1);
						transform: scale(1);
	}
	50% {
		border-color: red;
		-webkit-transform: scale(1.2);
						transform: scale(1.2);
	}
	100% {
		-webkit-transform: scale(1);
						transform: scale(1);
	}
}
@keyframes possible-move {
	0% {
		-webkit-transform: scale(1);
						transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@keyframes can-move {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.checkers-table {
	background: rgba(250, 235, 180, 0.8);
	width: 100%;
	height: 100%;
	font-size: 0;
	cursor: default;
	position: relative;
}
.checkers-table-container{
	transform: rotateX(180deg);
    user-select: none;
    border: 3rem solid rgba(200, 165, 120,0.8);
    border-radius: 1rem;
    position: relative;
    transition: 1s all;
}
.checkers-table-container .checker:after{
	transform: rotateX(180deg);
}
.checkers-table-container:before{
	content: '';
    background: url(/checkers/assets/numbers.svg);
    position: absolute;
	 left: -7.5%;
    top: -7.5%;
    width: 115%;
    height: 115%;
    /*transform: rotateX(180deg);*/
    background-position: 0 32px;
    background-size: 95%;
}
/*.checkers-table:before {
	content: "";
	background-image: url('assets/board.svg');
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	font-size: 0;
	top: 0;
	left: 0;
	position: absolute;;
	transform: rotateX(180deg);
	z-index: -5;
}*/
.checkers-table .checker {
	background: rgba(210, 170, 120, 0.8);
	position: relative;
	height: 12.5%;
	width: 12.5%;
	margin: 0;
	margin-left: 12.5%;
	display: inline-block;
}
.checkers-table .checker.active:before {
	-webkit-transform: scale(1.2);
					transform: scale(1.2);
	box-shadow: 1px -1px 2px rgba(120, 40, 10, 0.5);
}
.checkers-table .checker.possible-move:before {
	content: "";
	left: 12.5%;
	top: 12.5%;
	border-radius: 50%;
	background: rgba(230, 207, 179, 0.8);
	border: 4px rgba(115, 78, 60, 0.88) dotted;
	position: absolute;
	-webkit-animation: possible-move 1s linear infinite;
					animation: possible-move 1s linear infinite;
}
.checkers-table .checker.can-move:before {
	border: 4px rgba(70,120,210,0.8) dotted;
	/*transform: scale(1.1);*/
	animation: can-move 4s linear infinite;
}
.checkers-table .checker:nth-child(8n+1) {
	margin-left: 0 !important;
}
.checkers-table .checker:after {
	content: attr(id);
	color: #a57d19;
	position: absolute;
	bottom: 2%;
	right: 2%;
	font-size: 1rem;
	display: inline-block;
}
.checkers-table .checker:before {
	content: "";
	-webkit-transition: all 1s;
	transition: all 1s;
	width: 75%;
	height: 75%;
	position: absolute;
	left: 12.5%;
	top: 12.5%;
	border-radius: 50%;
}
.checker[data-checker="-1"]:before {
	background: #1b1202;
	border: 4px #3a2706 dotted;
}
.checker[data-checker="1"]:before {
	background: #fad2b4;
	border: 4px #fafafa dotted;
}
.checker[data-checker="-2"]:before {
	content: '\2605';
    color: red;
    font-size: 1rem;
    text-align: center;
    background: #1b1202;
    border: 4px #ffa406 dotted;
    padding: 0.7rem;
}
.checker[data-checker="2"]:before {
	content: '\2605';
	color: blue;
	font-size: 1rem;
	text-align: center;
	padding: 0.7rem;
	background: #fad2b4;
	border: 4px #cc3e3e dotted;
}

/*.checkers-table[data-whites="-1"] {
	-webkit-transform: rotateX(0);
					transform: rotateX(0);
}
.checkers-table[data-whites="-1"] .checker:after {
	-webkit-transform: rotateX(0);
					transform: rotateX(0);
}*/
