@keyframes possible-move {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }

@keyframes can-move {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.checkers-table {
  background: rgba(250, 235, 180, 0.8);
  width: 100%;
  height: 100%;
  font-size: 0;
  cursor: default;
  position: relative; }

.checkers-table-container {
  /*transform: rotateX(180deg); */
  user-select: none;
  border-radius: 0.2rem;
  position: relative;
  transition: 1s all; }
  .checkers-table-container .checker:after {
    transform: rotateX(180deg); }
  .checkers-table-container:before {
    position: absolute;
    left: -7.5%;
    top: -7.5%;
    width: 115%;
    height: 115%;
    /*transform: rotateX(180deg); */
    background-position: 0 32px;
    background-size: 95%; }

.checkers-table .checker {
  background: rgba(210, 170, 120, 0.8);
  position: relative;
  height: 12.5%;
  width: 12.5%;
  margin: 0;
  margin-left: 12.5%;
  display: inline-block; }
  .checkers-table .checker.active:before {
    transform: scale(1.2);
    box-shadow: 1px -1px 2px rgba(120, 40, 10, 0.5); }
  .checkers-table .checker.possible-move:before {
    content: "";
    left: 12.5%;
    top: 12.5%;
    border-radius: 50%;
    background: rgba(230, 207, 179, 0.8);
    border: 4px rgba(115, 78, 60, 0.88) dotted;
    position: absolute;
    animation: possible-move 1s linear infinite; }
  .checkers-table .checker.can-move:before {
    border: 4px rgba(70, 120, 210, 0.8) dotted;
    /*transform: scale(1.1); */
    animation: can-move 4s linear infinite; }
  .checkers-table .checker:nth-child(8n+5) {
    margin-left: 0 !important; }
  .checkers-table .checker:after {
    /*content: attr(id); */
    color: #a57d19;
    position: absolute;
    bottom: 2%;
    right: 2%;
    font-size: 1rem;
    display: inline-block; }
  .checkers-table .checker:before {
    content: "";
    -webkit-transition: all 1s;
    transition: all 1s;
    width: 75%;
    height: 75%;
    position: absolute;
    left: 12.5%;
    top: 12.5%;
    border-radius: 50%; }

.checker[data-checker="-1"]:before {
  background: #1b1202;
  border: 4px #3a2706 dotted; }

.checker[data-checker="1"]:before {
  background: #fad2b4;
  border: 4px #fafafa dotted; }

.checker[data-checker="-2"]:before {
  content: '\2605';
  color: red;
  font-size: 1rem;
  text-align: center;
  background: #1b1202;
  border: 4px #ffa406 dotted;
  padding: 0.7rem; }

.checker[data-checker="2"]:before {
  content: '\2605';
  color: blue;
  font-size: 1rem;
  text-align: center;
  padding: 0.7rem;
  background: #fad2b4;
  border: 4px #cc3e3e dotted; }

.numbers span, .letters span {
  position: absolute;
  font-size: 0.5rem;
  z-index: 1; }

.numbers span {
  left: 0.2rem; }

.numbers .number-1 {
  top: 87.5%; }

.numbers .number-2 {
  top: 75%; }

.numbers .number-3 {
  top: 62.5%; }

.numbers .number-4 {
  top: 50%; }

.numbers .number-5 {
  top: 37.5%; }

.numbers .number-6 {
  top: 25%; }

.numbers .number-7 {
  top: 12.5%; }

.numbers .number-8 {
  top: 0%; }

.letters span {
  bottom: 0.2rem; }

.letters .letter-1 {
  right: 88.5%; }

.letters .letter-2 {
  right: 76%; }

.letters .letter-3 {
  right: 63.5%; }

.letters .letter-4 {
  right: 51%; }

.letters .letter-5 {
  right: 38.5%; }

.letters .letter-6 {
  right: 26%; }

.letters .letter-7 {
  right: 13.5%; }

.letters .letter-8 {
  right: 1%; }

.won .game-result {
  width: 70%;
  padding: 1rem; }

.game-result {
  transition: all 1s;
  position: absolute;
  overflow: hidden;
  left: 50%;
  top: 40%;
  background: rgba(255, 255, 255, 0.67);
  z-index: 11;
  margin-left: -35%;
  width: 0;
  padding: 0;
  font-size: 1rem;
  border-radius: 15% 0; }
  .game-result .type {
    display: block;
    font-size: 1.3em;
    text-align: center; }
  .game-result .message {
    color: #468cdc; }
  .game-result .side {
    text-align: center;
    display: block;
    font-size: 1.2em; }
    .game-result .side:before {
      content: "Winner is: "; }
