// Core variables and mixins
@import "bootstrap/variables"
@import "bootstrap/mixins"

@import colors
$btn-primary-bg: $primary
$btn-primary-border: darken($primary,10%)

// Reset and dependencies
@import "bootstrap/normalize"
@import "bootstrap/print"
@import "bootstrap/glyphicons"

// Core CSS
// @import "bootstrap/scaffolding"
// @import "bootstrap/type"
// @import "bootstrap/code"
@import "bootstrap/grid"
// @import "bootstrap/tables"
@import "bootstrap/forms"
@import "bootstrap/buttons"
//
// // Components
// @import "bootstrap/component-animations"
// @import "bootstrap/dropdowns"
// @import "bootstrap/button-groups"
// @import "bootstrap/input-groups"
@import "bootstrap/navs"
@import "bootstrap/navbar"
// @import "bootstrap/breadcrumbs"
// @import "bootstrap/pagination"
// @import "bootstrap/pager"
// @import "bootstrap/labels"
// @import "bootstrap/badges"
// @import "bootstrap/jumbotron"
// @import "bootstrap/thumbnails"
// @import "bootstrap/alerts"
// @import "bootstrap/progress-bars"
// @import "bootstrap/media"
// @import "bootstrap/list-group"
@import "bootstrap/panels"
// @import "bootstrap/responsive-embed"
@import "bootstrap/wells"
// @import "bootstrap/close"
//
// // Components w/ JavaScript
// @import "bootstrap/modals"
// @import "bootstrap/tooltip"
// @import "bootstrap/popovers"
// @import "bootstrap/carousel"
//
// // Utility classes
@import "bootstrap/utilities"
// @import "bootstrap/responsive-utilities"

*
	box-sizing: border-box
.nav-tabs a
	border: none
	border-radius: 0
.tab-content
	border: 1px solid rgb(221, 221, 221)
	padding: 0.9em 0
	position: relative
	display: block
.btn
	border: none
	border-radius: 0


// ReactCSSTransitionGroup
@keyframes bounceIn
	from, 20%, 40%, 60%, 80%, to
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)
	0%
		opacity: 0
		transform: scale3d(.3, .3, .3)

	20%
		transform: scale3d(1.1, 1.1, 1.1)
	40%
		transform: scale3d(.9, .9, .9)

	60%
		opacity: 1
		visibility: visible
		transform: scale3d(1.03, 1.03, 1.03)
	80%
		transform: scale3d(.97, .97, .97)

	to
		opacity: 1
		transform: scale3d(1, 1, 1)

@keyframes bounceOut
	20%
		transform: scale3d(.9, .9, .9)

	50%, 55%
		opacity: 1
		transform: scale3d(1.1, 1.1, 1.1)

	to
		opacity: 0
		transform: scale3d(.3, .3, .3)

.tab-switch-enter
	visibility: hidden
.tab-switch-enter.tab-switch-enter-active
	animation-name: bounceIn
	animation-duration: 0.8s
	animation-delay: 0.5s
	animation-iteration-count: 1
	animation-timing-function: linear

.tab-switch-leave
	opacity: 1
	position: absolute
	width: 100%
	left: 0
	top: 0.9em
.tab-switch-leave.tab-switch-leave-active
	animation-name: bounceOut
	animation-duration: 0.5s
	animation-iteration-count: 1
	animation-timing-function: linear

// end ReactCSSTransitionGroup
@import newgame

@keyframes possible-move
	0%
		transform: scale(1)

	50%
		transform: scale(1.2)

	100%
		transform: scale(1)


@keyframes can-move
	0%
		transform: rotate(0deg)

	100%
		transform: rotate(360deg)


.checkers-table
	background: rgba(250, 235, 180, 0.8)
	width: 100%
	height: 100%
	font-size: 0
	cursor: default
	position: relative

.checkers-table-container
	/*transform: rotateX(180deg)
	user-select: none
	//border: 3rem solid rgba(200, 165, 120, 0.8)
	border-radius: 0.2rem
	position: relative
	transition: 1s all
	.checker:after
		transform: rotateX(180deg)
	&:before
		//content: ''
		//background: url(/checkers/assets/numbers.svg)
		position: absolute
		left: -7.5%
		top: -7.5%
		width: 115%
		height: 115%
		/*transform: rotateX(180deg)
		background-position: 0 32px
		background-size: 95%

// /*.checkers-table:before {
//	*	content: ""
//	*	background-image: url('assets/board.svg')
//	*	background-repeat: no-repeat
//	*	width: 100%
//	*	height: 100%
//	*	font-size: 0
//	*	top: 0
//	*	left: 0
//	*	position: absolute
//	*	transform: rotateX(180deg)
//	*	z-index: -5
//	*}

.checkers-table
	.checker
		background: rgba(210, 170, 120, 0.8)
		position: relative
		height: 12.5%
		width: 12.5%
		margin: 0
		margin-left: 12.5%
		display: inline-block
		box-shadow: -1px 1px 3px 0px rgba(120, 70, 40, 0.8)
		// &:after
		// 	/*content: attr(id)
		// 	color: #a57d19
		// 	position: absolute
		// 	bottom: 2%
		// 	right: 2%
		// 	font-size: 1rem
		// 	display: inline-block
		&:before
			content: ""
			-webkit-transition: all 1s
			transition: all 1s
			width: 75%
			height: 75%
			position: absolute
			left: 12.5%
			top: 12.5%
			box-shadow: -1px 1px 3px -1px #444
			border-radius: 50%
		&[data-checker="0"]:before
			box-shadow: none
		&[data-checker="-1"]:before
			background: #1b1202
			border: 4px #3a2706 dotted
		&[data-checker="1"]:before
			background: #fad2b4
			border: 4px #fafafa dotted
		&[data-checker="-2"]:before
			content: '\2605'
			color: red
			font-size: 1rem
			text-align: center
			background: #1b1202
			border: 4px #ffa406 dotted
			padding: 0.7rem
		&[data-checker="2"]:before
			content: '\2605'
			color: blue
			font-size: 1rem
			text-align: center
			padding: 0.7rem
			background: #fad2b4
			border: 4px #cc3e3e dotted
		&.active:before
			transform: scale(1.2)
			box-shadow: 1px -1px 2px rgba(120, 40, 10, 0.5)
		&.possible-move:hover:before
			content: ""
			left: 12.5%
			top: 12.5%
			border-radius: 50%
			background: rgba(230, 207, 179, 0.8)
			border: 4px rgba(115, 78, 60, 0.88) dotted
			position: absolute
			animation: possible-move 1s linear infinite
		&.can-move:hover:before
			border: 4px rgba(70, 120, 210, 0.8) dotted
			/*transform: scale(1.1)
			animation: can-move 4s linear infinite
		&:nth-child(8n+5)
			margin-left: 0 !important
.cookies .checker
	&:before
		width: 100%
		height: 100%
		left: 0
		top: 0
	&[data-checker="-1"]:before
		background: url(/checkers/assets/cookies/all.png)
		background-size: 100%
		background-position-y: 0%
	&[data-checker="1"]:before
		background: url(/checkers/assets/cookies/all.png)
		background-size: 100%
		background-position-y: 33%
	&[data-checker="-2"]:before
		background: url(/checkers/assets/cookies/all.png)
		background-size: 100%
		background-position-y: 66%
	&[data-checker="2"]:before
		background: url(/checkers/assets/cookies/all.png)
		background-size: 100%
		background-position-y: 100%
.numbers, .letters
	span
		position: absolute
		font-size: 1em
		font-family: Futura, Futura Light, sans-serif
		font-weight: bold
		z-index: 1
.numbers
	span
		left: 0.2rem
	@for $i from 1 through 8
		.number-#{$i}
			top: 100 - (12.5% * $i)
.letters
	span
		bottom: 0.2rem
	@for $i from 1 through 8
		.letter-#{$i}
			right: 101% - ($i * 12.5%)
.won .game-result
	width: 70%
	padding: 1rem
.game-result
	transition: all 1s
	position: absolute
	overflow: hidden
	left: 50%
	top: 40%
	background: rgba(255, 255, 255, 0.67)
	z-index: 11
	margin-left: -35%
	width: 0
	padding: 0
	font-size: 1rem
	border-radius: 15% 0
	.type
		display: block
		font-size: 1.3em
		text-align: center
	.message
		color: rgb(70,140,220)
	.side
		text-align: center
		display: block
		font-size: 1.2em
		&:before
			content: "Winner is: "

.nav.nav-justified
	display: flex
	flex-direction: row
	flex-wrap: wrap
	li
		flex: 1
		padding: 0


#Tournament
	font-size: 1.2em
	.entry
		color: #666
		border-bottom: 1px solid rgba(100,100,100,0.4)
		padding: 0.3em
		//margin: 0.2rem 1rem
		min-height: 2.5em
		position: relative
		&:hover
				background: rgba(47, 138, 206, 0.25)
				box-shadow: inset 0px -2px 4px -2px rgba(30, 90, 165, 0.5)
		&:last-child
			border-bottom: none
		&:before
			line-height: 1.5
			position: absolute
		&.Test:before
			content: '\e136'
			font-family: 'Glyphicons Halflings'
		span
			margin: auto 0.5em
			display: inline-block
			position: absolute
			&.timeframe
				left: 1em
			&.type-label
				left: 4.5em
			&.time-left
				right: 4em
				&:after
					content: ' min'
				&:before
					content: 'in '
			&.players
				right: 0em
				&:after
					content: ' P'

.chat
	p
		margin: 0 1.5em
		padding: 0.3em 0
	b
		display: inline-block
		&:after
			content: ': '
	span
		margin-left: 1em
		display: inline-block
