@keyframes possible-move
	0%
		transform: scale(1)

	50%
		transform: scale(1.2)

	100%
		transform: scale(1)


@keyframes can-move
	0%
		transform: rotate(0deg)

	100%
		transform: rotate(360deg)


.checkers-table
	background: rgba(250, 235, 180, 0.8)
	width: 100%
	height: 100%
	font-size: 0
	cursor: default
	position: relative

.checkers-table-container
	/*transform: rotateX(180deg);
	user-select: none
	//border: 3rem solid rgba(200, 165, 120, 0.8)
	border-radius: 0.2rem
	position: relative
	transition: 1s all
	.checker:after
		transform: rotateX(180deg)
	&:before
		//content: ''
		//background: url(/checkers/assets/numbers.svg)
		position: absolute
		left: -7.5%
		top: -7.5%
		width: 115%
		height: 115%
		/*transform: rotateX(180deg);
		background-position: 0 32px
		background-size: 95%

// /*.checkers-table:before {
//	*	content: "";
//	*	background-image: url('assets/board.svg');
//	*	background-repeat: no-repeat;
//	*	width: 100%;
//	*	height: 100%;
//	*	font-size: 0;
//	*	top: 0;
//	*	left: 0;
//	*	position: absolute;;
//	*	transform: rotateX(180deg);
//	*	z-index: -5;
//	*}

.checkers-table .checker
	background: rgba(210, 170, 120, 0.8)
	position: relative
	height: 12.5%
	width: 12.5%
	margin: 0
	margin-left: 12.5%
	display: inline-block
	&.active:before
		transform: scale(1.2)
		box-shadow: 1px -1px 2px rgba(120, 40, 10, 0.5)
	&.possible-move:hover:before
		content: ""
		left: 12.5%
		top: 12.5%
		border-radius: 50%
		background: rgba(230, 207, 179, 0.8)
		border: 4px rgba(115, 78, 60, 0.88) dotted
		position: absolute
		animation: possible-move 1s linear infinite
	&.can-move:hover:before
		border: 4px rgba(70, 120, 210, 0.8) dotted
		/*transform: scale(1.1);
		animation: can-move 4s linear infinite
	&:nth-child(8n+5)
		margin-left: 0 !important
	&:after
		/*content: attr(id);
		color: #a57d19
		position: absolute
		bottom: 2%
		right: 2%
		font-size: 1rem
		display: inline-block
	&:before
		content: ""
		-webkit-transition: all 1s
		transition: all 1s
		width: 75%
		height: 75%
		position: absolute
		left: 12.5%
		top: 12.5%
		border-radius: 50%

.checker
	&[data-checker="-1"]:before
		background: #1b1202
		border: 4px #3a2706 dotted
	&[data-checker="1"]:before
		background: #fad2b4
		border: 4px #fafafa dotted
	&[data-checker="-2"]:before
		content: '\2605'
		color: red
		font-size: 1rem
		text-align: center
		background: #1b1202
		border: 4px #ffa406 dotted
		padding: 0.7rem
	&[data-checker="2"]:before
		content: '\2605'
		color: blue
		font-size: 1rem
		text-align: center
		padding: 0.7rem
		background: #fad2b4
		border: 4px #cc3e3e dotted
.numbers, .letters
	span
		position: absolute
		font-size: 1em
		font-family: Futura, Futura Light, sans-serif
		font-weight: bold
		z-index: 1
.numbers
	span
		left: 0.2rem
	@for $i from 1 through 8
		.number-#{$i}
			top: 100 - (12.5% * $i)
.letters
	span
		bottom: 0.2rem
	@for $i from 1 through 8
		.letter-#{$i}
			right: 101% - ($i * 12.5%)
.won .game-result
	width: 70%
	padding: 1rem
.game-result
	transition: all 1s
	position: absolute
	overflow: hidden
	left: 50%
	top: 40%
	background: rgba(255, 255, 255, 0.67)
	z-index: 11
	margin-left: -35%
	width: 0
	padding: 0
	font-size: 1rem
	border-radius: 15% 0
	.type
		display: block
		font-size: 1.3em
		text-align: center
	.message
		color: rgb(70,140,220)
	.side
		text-align: center
		display: block
		font-size: 1.2em
		&:before
			content: "Winner is: "

.nav.nav-justified
	display: flex
	flex-direction: row
	flex-wrap: wrap
	li
		flex: 1
		padding: 0

#NewGame
	background: none
	li
		padding: 0
		margin: 0.3em 1em
		border: none
	#play
		flex-basis: 100%
		box-shadow: 0 1px 2px rgba(0, 0, 0, .2)
		button
			width: 100%
	.type-panel, .time-panel
		position: absolute
		z-index: 1
		width: 100%
		margin-top: -0.5em
		padding-top: 1em

#Tournament
	font-size: 1.2em
	.entry
		color: #666
		border-bottom: 1px solid rgba(100,100,100,0.4)
		padding: 0.3em
		//margin: 0.2rem 1rem
		min-height: 2.5em
		position: relative
		&:hover
				background: rgba(47, 138, 206, 0.25)
				box-shadow: inset 0px -2px 4px -2px rgba(30, 90, 165, 0.5)
		&:last-child
			border-bottom: none
		&:before
			line-height: 1.5
			position: absolute
		&.Test:before
			content: '\e136'
			font-family: 'Glyphicons Halflings'
		span
			margin: auto 0.5em
			display: inline-block
			position: absolute
			&.timeframe
				left: 1em
			&.type-label
				left: 4.5em
			&.time-left
				right: 4em
				&:after
					content: ' min'
				&:before
					content: 'in '
			&.players
				right: 0em
				&:after
					content: ' P'
